@import "../variable/variable";
@import "../mixin/font";
@import "../mixin/gradient-text";


.our_clients {
  background-color: var(--background);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 100px;
  background-color: #f5f5f5;
  padding: 80px 0;

  .slider-item {
    img {
      width: 140px;
    }
  }

  .sec-title {
    h3 {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}

.our_clients .slider-main .slider-item {
  display: flex;
  white-space: nowrap;
  animation: scroll 16s linear infinite;
  gap: 24px;
  align-items: center;
}

.our_clients a {
  display: inline-block;
  font-size: 40px;
  font-weight: 500;
  color: var(--light-black);
  line-height: 0.9em;
  position: relative;
  margin: 0 25px;

  img {
    transition: all linear 0.2s;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.our_clients a::before {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--light-black);
  border-radius: 50%;
  content: "";
  top: 50%;
  left: -32px;
  transform: translateY(-50%);
}

.our_clients a:hover {
  color: var(--black);
}

.our_clients .slider-main:hover .slider-item {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0)
  }

  to {
    transform: translateX(calc(-100% - 1.5rem))
  }
}