.products_area {
  padding-top: 0;

  .products_menu {
    padding-bottom: 40px;

    ul {
      text-align: center;

      li {
        button {
          display: inline-block;
          background-color: #f8f8f8;
          padding: 14px 20px;
          font-weight: 500;
          border-radius: 5px;
          text-transform: uppercase;
          margin: 0 5px;
          color: $black;
          border: 0;
          transition: all linear .2s;

          &:hover {
            background-color: $primary;
            color: $white;
          }
        }

        button.active {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }

  .products_main {
    .product_item {
      width: 100%;
      border-radius: 10px;
      padding: 0;
      overflow: hidden;

      .img {
        display: inline-block;
        -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 244 224" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M121.673 6.38799e-05C172.695 0.0462866 222.518 25.7326 238.59 74.1667C254.943 123.448 232.858 176.909 190.192 206.49C150.286 234.158 98.206 227.09 58.6536 198.92C17.7282 169.772 -11.0734 121.858 4.10287 73.9543C19.5639 25.1519 70.4897 -0.0463055 121.673 6.38799e-05Z"/></svg>');
        mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 244 224" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M121.673 6.38799e-05C172.695 0.0462866 222.518 25.7326 238.59 74.1667C254.943 123.448 232.858 176.909 190.192 206.49C150.286 234.158 98.206 227.09 58.6536 198.92C17.7282 169.772 -11.0734 121.858 4.10287 73.9543C19.5639 25.1519 70.4897 -0.0463055 121.673 6.38799e-05Z"/></svg>');
        mask-repeat: repeat;
        mask-position-x: 0%;
        mask-position-y: 0%;
        mask-size: auto;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
        -webkit-mask-size: cover;
        mask-size: cover;
        margin-bottom: 48px;

        img {
          transition: $transition;
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }


      &:hover {
        img {
          transform: scale(1.1);
        }
      }

      .text {
        padding: 30px;
        text-align: center;

        a {
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 600;
          color: $black;
          transition: all linear .2s;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.products_area_page {
  margin-top: 100px;
}

.service-one {
  position: relative;
  padding: 120px 0;
}

@media (max-width: 767px) {
  .service-one {
    padding: 80px 0;
  }
}

.service-one__item {
  position: relative;
  text-align: center;
  z-index: 2;
}

.service-one__item__image {
  position: relative;
  display: inline-block;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 244 224" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M121.673 6.38799e-05C172.695 0.0462866 222.518 25.7326 238.59 74.1667C254.943 123.448 232.858 176.909 190.192 206.49C150.286 234.158 98.206 227.09 58.6536 198.92C17.7282 169.772 -11.0734 121.858 4.10287 73.9543C19.5639 25.1519 70.4897 -0.0463055 121.673 6.38799e-05Z"/></svg>');
  mask: url('data:image/svg+xml;utf8,<svg viewBox="0 0 244 224" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M121.673 6.38799e-05C172.695 0.0462866 222.518 25.7326 238.59 74.1667C254.943 123.448 232.858 176.909 190.192 206.49C150.286 234.158 98.206 227.09 58.6536 198.92C17.7282 169.772 -11.0734 121.858 4.10287 73.9543C19.5639 25.1519 70.4897 -0.0463055 121.673 6.38799e-05Z"/></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-bottom: 48px;
}

@keyframes treeMove2 {

  0%,
  100% {
    -webkit-transform: rotate(0deg) translateX(0);
    transform: rotate(0deg) translateX(0);
  }

  25%,
  75% {
    -webkit-transform: rotate(-10deg) translateX(0);
    transform: rotate(-10deg) translateX(0);
  }

  50% {
    -webkit-transform: rotate(10deg) translateX(0);
    transform: rotate(10deg) translateX(0);
  }
}

.service-one__item__image img {
  max-width: 100%;
  height: auto;
}

.service-one__item__shape {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
}

.service-one__item__shape img {
  max-width: 100%;
  height: auto;
  animation: treeMove2 4s linear 0s infinite;
}

.service-one__item__title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.service-one__item__title a {
  color: inherit;
  background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px 95%/0px 1px no-repeat;
  transition: all 500ms ease;
}

.service-one__item__title a:hover {
  background-size: 100% 1px;
}

.service-one__item__title a:hover {
  color: var(--ienet-base, #DF2339);
}

.service-one__item--reverse {
  position: relative;
}

.service-one__item--reverse .service-one__item__image {
  margin-top: 24px;
  margin-bottom: 24px;
}

.u_products_section {
  background: #f7f7f7;

  .product_item {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;

    @media (max-width:1199.98px) {
      gap: 24px;
    }
    @media (max-width:575.98px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .product_image {
      width: 260px;
      height: 260px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @media (max-width:1199.98px) {
        width: 190px;
        height: 190px;
      }

      img {
        width: 70%;
      }

      .play_btn {
        a {

          position: absolute;
          top: 10px;
          right: 10px;
          width: 60px;
          height: 60px;
          background: linear-gradient(45deg, #ff0000, #ff6b6b);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 18px;

        }
      }

    }

    .product_content {

      h4 {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
        font-family: $exo;

        @media (max-width:1199.98px) {
         margin-bottom: 10px;
        }
      }

      a {
        color: $primary;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        margin-top: 15px;

        &:hover {
          color: $black;
        }

        i {
          margin-left: 4px;
        }
      }
    }
  }

}

// counter section
.u_counter_section {
  padding: 60px 0;

  .counter_item {
    h5 {
      font-size: 16px;
      font-weight: 500;
      color: $white;
      margin-top: 10px;
      text-transform: uppercase;
    }

    .info {
      .icon {
        position: relative;
        top: -5px;
      }

      .number {
        font-size: 65px;
        font-weight: 700;
        color: $white;
        display: flex;
        align-items: center;
        font-family: $exo;

        @media (max-width:1399.98px) {
          font-size: 55px;
        }

        @media (max-width:1199.98px) {
          font-size: 48px;
        }
        @media (max-width:575.98px) {
          font-size: 38px;
        }
      }
    }
  }
}

.u_whyus_section {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

/* ===============================
Why Us Section
=============================== */

.u_whyus_section {

  padding: 100px 0;
  background: #f3efe9;


  .whyus_card {

    background: #fff;
    padding: 35px;
    border-radius: 10px;
    text-align: center;
    transition: $transition;
    background: $white;
    border-radius: 10px;
    height: 100%;

    @media (max-width:1399.98px) {
      padding: 28px;
    }

    img {
      width: 50px;
      margin-bottom: 15px;
    }

    h5 {
      padding-top: 20px;
      font-size: 20px;
      line-height: 150%;
      font-weight: 600;
    }

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }
  }
}



/* ===============================
Clients Section
=============================== */

.u_clients_section {

  padding: 50px 0;
  background: #fff;

  .client_title {

    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.5;

      span {
        color: $primary;
        font-weight: 700;
      }

    }

  }

  .client_slider {

    .client_item {
      padding: 10px;

      img {
        max-width: 140px;
        opacity: .8;
        transition: .3s;
      }

      img:hover {
        opacity: 1;
      }

    }

  }

}

.u_certified_section {
  background: #F9F9FF;

  .slick-list {
    padding: 20px 0;
    margin: -20px 0;
  }

  .slider_item {
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    margin: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    min-height: 340px;

    @media (max-width:991.98px) {
      padding: 30px;
    }

    .img {
      max-width: 130px;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .text {
      text-align: center;
      padding-top: 30px;

      h5 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        font-family: $exo;
      }
    }
  }

  // slick dots style
  .slick-dots {
    display: flex !important;
    justify-content: center;
    gap: 10px;
    margin-top: 35px;

    li {
      list-style: none;

      button {
        font-size: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #dcdcdc;
        border: none;
        transition: all 0.3s ease;
      }

      &.slick-active button {
        width: 30px;
        border-radius: 20px;
        background: $primary; // primary color
      }
    }
  }
}